In [64]:
import requests
import pandas as pd
import os

def nba_teams_salary(year: int):
    url = f'https://www.hoopshype.com/salaries/teams/?season={year}'
    response = requests.get(url)
    tables = pd.read_html(response.text)
    df = tables[0]
    df.rename(columns={df.columns[0]: 'years'}, inplace=True)
    df.rename(columns={df.columns[1]: 'team'}, inplace=True)
    df.rename(columns={df.columns[2]: 'total_salary'}, inplace=True)
    df['years'] = year 
    df['total_salary'] = df['total_salary'].str.replace('$', '', regex=False).str.replace(',', '', regex=False)
    if year == 2025:
        df.drop(df.columns[3:6], axis=1, inplace=True)
    
    return df


# df['year'] = new_data
# df = tables[0]

In [65]:
nba_teams_salary(2025)

/tmp/ipykernel_90850/193190064.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(response.text)

    years           team total_salary
0    2025      Cavaliers    228898634
1    2025      Mavericks    211579121
2    2025         Knicks    205444377
3    2025       Clippers    205218523
4    2025        Celtics    204311991
5    2025   Timberwolves    203531887
6    2025         Lakers    201185155
7    2025        Rockets    201150043
8    2025          Magic    197122456
9    2025        Raptors    196520970
10   2025        Nuggets    194790301
11   2025           Suns    193123086
12   2025          76ers    191750451
13   2025       Pelicans    190982633
14   2025        Thunder    190199275
15   2025           Heat    188690973
16   2025  Trail Blazers    187731067
17   2025          Spurs    187183460
18   2025          Hawks    186584161
19   2025          Kings    186063825
20   2025         Pacers    183742674
21   2025        Hornets    180776048
22   2025          Bucks    176698323
23   2025      Grizzlies    174303544
24   2025        Pistons    170909241
25   2025       Warriors    168921159
26   2025        Wizards    157575777
27   2025          Bulls    153730899
28   2025           Jazz    152746679
29   2025           Nets    133312610